page-home {
  ion-content{
    background-image:url('../assets/imgs/home_background_app_3.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

  .text-light{
    vertical-align: middle;
    line-height: 980px;
    text-align: center;
  }
}